{%- extends "bootstrap/base.html"  %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
    yt-dls
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block navbar %}
    {{ nav.frontend_top.render() }}
{% endblock %}

{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True)  %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{utils.flashed_messages(messages)}}
                </div>
            </div>
        {%- endif  %}
    {%- endwith  %}
{% endblock %}