{%- extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container" style="width: fit-content(100%); padding: 1.5%">
        <div class="card">
            <div class="card-body">
                <table id="videos" class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Song</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                            <tr>
                                <td class="text-center"><a class="btn btn-link" href="/player?file={{ video['path'] + video['name'] + video['ext'] }}">{{ video['name'] }}</a></td>
                                <td class="text-center"><a class="btn btn-link" href="/download?file={{ video['path'] + video['name'] + video['ext'] }}" download>Download</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="container" style="padding: 1.5%">
            <form action="/delete">
                <input type="hidden" name="file" value="{{ folder }}">
                <input type="submit" class="btn btn-danger float-start" value="Delete playlist">
            </form>
            <form action="/download">
                <input type="hidden" name="file" value="{{ folder }}">
                <input type="submit" class="btn btn-primary float-end" value="Download all"/>
            </form>
            <form action="/update" style="padding-right: 30%">
                <input type="hidden" name="list" value="{{ request.args.get('playlist') }}">
                <input type="hidden" name="from" value="/library-playlist?playlist={{ request.args.get('playlist') }}">
                <input type="submit" class="btn btn-primary float-end" value="Update playlist"/>
            </form>
        </div>
    </div>
{%- endblock %}