{%- extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container-fluid" style="width: fit-content; align-self: flex-start">
        <div class="table-bordered" style="padding: .5cm">
            <form method="POST" class="form-group">
                {{ form.csrf_token }}
                {{ form.url.label(class_="form-text") }} <br>
                {{ form.url(class_="form-control") }} <br>
                {{ form.ext(class_="form-control") }} <br>
                {{ form.submit(class_="btn primary") }}
            </form>
        </div>

        {% if form.errors %}
        {{ form.errors['url'][0][:-1] + ', try again.' }}
        {% endif %}

        {% if not ytLink %}
            Please enter a full, valid YouTube URL.
        {% endif %}

    </div>
{%- endblock %}