{%- extends "base.html" %}

{% block content %}
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.url.label }} <br>
            {{ form.url }}
            {{ form.submit }}
        </form>
        {% if form.errors %}
        {{ form.errors['url'][0][:-1] + ', try again.' }}
        {% endif %}
        {% if ytLink == False %}
            Please enter a full, valid YouTube URL.
        {% endif %}

        {% if titles %}
            <div class="container">
                <table id="videos" class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Title</th>
                            <th scope="col" class="text-center">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(amount) %}
                            <tr>
                                <td class="text-center">{{ titles[i] }}</td>
                                <td class="text-center"> <a href="{{ urls[i] }}" target="_blank">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{%- endblock %}