{%- extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container" style="width: fit-content(100%); padding: 1.5%">
        {% if running_downloads %}
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Queue</th>
                                <th scope="col" class="text-center">Started at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in running_downloads %}
                                <tr>
                                    <td class="text-center">{{ entry[0] }}</td>
                                    <td class="text-center">{{ entry[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

                <br><br>

            {% if titles and titles[0] not in running_downloads[0][0] %}
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">New downloads in {{ running_downloads[0][0] }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(amount) %}
                                    <tr>
                                        <td class="text-center"><a href="{{ urls[i] }}" target="_blank">{{ titles[i] }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{%- endblock %}