{%- extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container" style="width: fit-content(100%); padding: 1.5%">
        {% if playlists %}
            <div class="card">
                <div class="card-body">
                    <table id="playlists" class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center align-middle">Playlists</th>
                                <th scope="col" class="text-center align-middle">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playlist in playlists %}
                                <tr>
                                    <td class="text-center align-middle"><a class="btn btn-link" href="/library-playlist?playlist={{ playlist['ROWID'] }}">{{ playlist['name'] }}</a></td>
                                    <td class="text-center align-middle"><a class="btn btn-link" href="/update/{{ playlist[1] }}">Start</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <br>

        {% if videos %}
            <div class="card">
                <div class="card-body">
                    <table id="videos" class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center align-middle">Titles not in any playlist</th>
                                <th scope="col" class="text-center align-middle">Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for video in videos %}
                                {% if 'mp3' in video['ext'] %}
                                <tr>
                                    <td class="text-center align-middle">{{ video['name'] }}</td>
                                    <td class="text-center align-middle"><a class="btn btn-link" href="/download/{{ video['path'] + video['name'] + video['ext'] }}" download>Download</a></td>
                                </tr>
                                {% endif %}

                                {% if 'mp4' in video['ext'] %}
                                    <tr>
                                        <td class="text-center align-middle">{{ video['name'] }}</td>
                                        <td class="text-center align-middle"><a class="btn btn-link" href="/player?file={{ video['path'] + video['name'] + video['ext'] }}">Watch</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% endif %}
    </div>
{%- endblock %}