{%- extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container" style="width: fit-content(105%)">
        {% if playlists %}
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <table id="playlists" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Playlists</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for playlist in playlists %}
                                        <tr>
                                            <td class="text-center"> <a href="/library-playlist?playlist={{ playlist['ROWID'] }}">{{ playlist['name'] }}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}

        <br><br>

        {% if videos %}
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <table id="videos" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Title</th>
                                        <th scope="col" class="text-center">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for video in videos %}
                                        <tr>
                                            <td class="text-center">{{ video['name'] }}</td>
                                            <td class="text-center"><a href="/download/{{ video['path'] + video['name'] + video['ext'] }}" download>Link</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{%- endblock %}